*.class

# Package Files #
*.jar
*.war
*.ear

#eclipse
/*/.settings/
.project
.classpath
.settings/


#project
/motley/WebRoot/htmltest/
WebRoot/classes/
# Build Artifacts 
.gradle/
build/
target/
bin/
classes/


# IntelliJ IDEA Files 
*.ipr 
*.iws 
.idea/

#other
#jrebel
rebel.xml