*.class

# Package Files #
*.jar
*.war
*.ear

#eclipse
/*/.settings/
.project




#project
/motley/WebRoot/htmltest/
WebRoot/classes/
# Build Artifacts 
.gradle/
build/
target/
bin/




*.mymetadata
*.myumldata
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.maven.ide.eclipse.prefs
ZJob-Note/.classpath
ZJob-Note/.classpath.bak
motley/.classpath
pom.xml
shiro-redis/.classpath
shiro-redis/pom.xml
