<!DOCTYPE html>
<html height="100%">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<div id="d0" >
		=======================================
		<div id='d1'>
				d1
		</div>
		
		<div id='d2'>
				d2--自适应高度
		</div>

		<div id='d3'>
				d3
		</div>	

	</div>

</body>
<style>
html {
	height:100%;
}
body {
	height:100%;
	/** 滚动条显示设置	
	overflow:hidden;
	**/
}

#d0 {
	height: 100%;
	background-color: red;
}

#d1 {
	background-color:coral;
	height: 150px;
}

#d2 {
	background-color:yellow;
	height: 100%;
	width:70%;
	margin-top:10px;
	margin-bottom:100px;
	 /* padding-bottom: 100px; */
	 margin-left: 20px
	 
	/* padding-bottom: 100px; */
}

#d3 {
	background-color:lightblue;
	position:absolute;
	height: 100px;
	width:50%;
	bottom: 0px;
}

</style>



</html>

