<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    ">
    
    <bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>  
        <property name="url" value="jdbc:mysql://localhost:3306/jianhang" />  
        <property name="username" value="banana" />  
        <property name="password" value="123456" />  
    </bean>  
    
    <bean id="slaveSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="slaveDataSource" />  
        <property name="configLocation" value="classpath:mybatis-config.xml" />  
    </bean>
    
	<bean id="slaveTransactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="slaveDataSource" />  
    </bean>  
    
    <tx:annotation-driven transaction-manager="slaveTransactionManager" />    
    
	<!-- sqlSessionFactoryBeanName/sqlSessionTemplateBeanName  -->  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
        <property name="basePackage" value="com.myhexin.dao.product" />  
        <property name="sqlSessionFactoryBeanName" value="slaveSqlSessionFactory"/>
    </bean>      
    
    
    <!-- sqlSessionFactoryBeanName/sqlSessionTemplateBeanName  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
        <property name="basePackage" value="com.myhexin.dao" />  
    </bean>      
    -->  
    
</beans>  