<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.myhexin.dao.IUserDao">  <!--mybatis的namespace是必须的-->  

	<resultMap type="com.myhexin.entity.PermissionDTO" id="permissionDTO">
	</resultMap>

    <select id="getUserById" parameterType="int" resultType="User">  <!--resultType使用的是简称-->  
        SELECT *   
        FROM tuser  
        WHERE id = #{id}  
    </select>  
    
    <select id="authenticationUser"  resultType="User">  <!--resultType使用的是简称-->  
        SELECT *   
        FROM tuser  
        WHERE name = #{name} and password=#{password}  
    </select>      
    
    <select id="queryUserPermission"  resultMap="permissionDTO">  <!--resultType使用的是简称-->
	select d.id,c.roleid,c.resourceid,d.resourcecode,d.resourcename from
		tuser a,tuser_role b,trole_resource c,tresource d
	where a.name=#{name} and a.id=b.userid and b.roleid=c.roleid and c.resourceid=d.id
    </select>          
    
</mapper> 