<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd "
	default-lazy-init="true">

	<description>Shiro Configuration</description>
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.jsp" />
		<property name="successUrl" value="/index.html" />
	    <property name="unauthorizedUrl" value="login.jsp" /> 
	    <!-- 
		<property name="filters">
			<map>
				<entry key="myuserfilter" value-ref="myuserfilter"></entry>
				<entry key="userIndexFilter" value-ref="userIndexFilter"></entry>
			</map>
		</property>
		 -->
		<property name="filterChainDefinitions">
			<value>
				/user/* = anon
				/product/* = anon
				/common/* = anon
				/**/** = authc
			</value>
		</property>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">

		<property name="realm" ref="myRealm" />
	</bean>
	<bean id="myRealm" class="com.myhexin.shiro.UserRealm">
		<!-- 如果需要md5加密，把注释去掉 
		<property name="credentialsMatcher" ref="md5CredentialsMatcher"></property>
		-->
		<property name="cachingEnabled" value="false" />
	</bean>
	<bean id="md5CredentialsMatcher" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher"></bean>
</beans>